In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from math import comb

from Invoker import Invoker
from utils import *

In [14]:
inv = Invoker()
Invoker.load_stock_day(inv)
inv.truncate()
codes = inv.load_stock_list()

Daily open loaded successfully.
Daily close loaded successfully.
Daily low loaded successfully.
Daily high loaded successfully.
Daily volume loaded successfully.
Daily money loaded successfully.
Daily vwap loaded successfully.
Daily rate loaded successfully.
Successfully truncated for open data.
Successfully truncated for close data.
Successfully truncated for high data.
Successfully truncated for low data.
Successfully truncated for volume data.
Successfully truncated for money data.
Successfully truncated for rate data.
Successfully truncated for vwap data.
Stock list data loaded successfully.

In [37]:
vol = inv.close.copy()
for i in range(len(vol)):
    mu = np.nanmean(vol.iloc[i, :])
    sd = np.nanstd(vol.iloc[i, :])
    vol.iloc[i, :] = (vol.iloc[i, :]-mu) / sd
vol

code,000001,000002,000004,000005,000006,000007,000008,000009,000010,000011,...,688787,688788,688789,688793,688798,688799,688800,688819,688981,689009
date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,-0.633094,-0.001173,1.294346,-0.760352,-0.605239,0.292121,-0.623263,-0.562092,-0.707919,-0.074360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,-0.636782,-0.010326,1.267774,-0.751999,-0.602485,0.290845,-0.624457,-0.556934,-0.708055,-0.075704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-05,-0.640051,-0.001423,1.275289,-0.759522,-0.604753,0.286937,-0.627018,-0.565653,-0.713906,-0.082881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-06,-0.645161,-0.004228,1.294341,-0.762099,-0.596158,0.263615,-0.625671,-0.568316,-0.724233,-0.025946,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-09,-0.650500,-0.006814,1.243089,-0.766822,-0.605761,0.240930,-0.629249,-0.571088,-0.727116,-0.023032,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-21,-0.280861,-0.187946,-0.291260,-0.498793,-0.447249,-0.359082,-0.485681,-0.234516,-0.467596,-0.308442,...,0.850398,0.416794,3.355265,0.409334,1.871561,0.295168,1.933279,0.336313,0.400065,0.216269
2022-11-22,-0.266572,-0.180173,-0.272744,-0.494913,-0.443485,-0.356171,-0.481884,-0.230001,-0.462684,-0.301772,...,0.908272,0.401992,3.518529,0.405420,1.860947,0.272393,2.032603,0.325193,0.400392,0.212508
2022-11-23,-0.260323,-0.177554,-0.279493,-0.486756,-0.433080,-0.350987,-0.471871,-0.227170,-0.454505,-0.297536,...,0.872291,0.378604,3.442436,0.384468,1.752762,0.239452,2.080457,0.339362,0.392587,0.202691
2022-11-24,-0.263220,-0.167326,-0.293680,-0.488401,-0.434024,-0.353473,-0.474186,-0.235918,-0.456361,-0.295260,...,0.870131,0.375545,3.529885,0.380509,1.718508,0.248514,1.976632,0.366520,0.389083,0.203162
2022-11-25,-0.250377,-0.131964,-0.300272,-0.488584,-0.429262,-0.350856,-0.474328,-0.231983,-0.456394,-0.286016,...,0.814653,0.370890,3.424115,0.429752,1.678955,0.253397,1.966826,0.339850,0.405380,0.217068

In [38]:
vol = vol.iloc[-120:, :]
vol

code,000001,000002,000004,000005,000006,000007,000008,000009,000010,000011,...,688787,688788,688789,688793,688798,688799,688800,688819,688981,689009
date,,,,,,,,,,,,,,,,,,,,,
2022-06-02,-0.185685,-0.104821,-0.268699,-0.445052,-0.390856,-0.334079,-0.427847,-0.209127,-0.401609,-0.213213,...,0.628979,0.926198,4.052157,0.912218,2.887584,0.196700,1.991626,0.237777,0.471767,0.619731
2022-06-06,-0.188021,-0.122542,-0.267562,-0.445741,-0.393693,-0.337238,-0.430210,-0.199144,-0.395162,-0.223279,...,0.678320,0.950101,3.900867,0.889239,2.806187,0.201497,2.002807,0.251236,0.473488,0.668876
2022-06-07,-0.187688,-0.117724,-0.276481,-0.450429,-0.395228,-0.338315,-0.435024,-0.203949,-0.397153,-0.217856,...,0.654238,0.965334,3.696726,0.839526,2.767933,0.199149,2.077917,0.255206,0.476867,0.695746
2022-06-08,-0.184796,-0.113523,-0.274625,-0.443740,-0.392078,-0.333879,-0.429401,-0.191754,-0.394187,-0.224228,...,0.599418,0.954096,3.645178,0.783504,2.619522,0.194132,1.937368,0.251698,0.463198,0.663732
2022-06-09,-0.172649,-0.097754,-0.275737,-0.442529,-0.388725,-0.329541,-0.427679,-0.186638,-0.393675,-0.223439,...,0.587923,0.499039,3.521524,0.726952,2.492794,0.187837,1.913865,0.252187,0.463528,0.689074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-21,-0.280861,-0.187946,-0.291260,-0.498793,-0.447249,-0.359082,-0.485681,-0.234516,-0.467596,-0.308442,...,0.850398,0.416794,3.355265,0.409334,1.871561,0.295168,1.933279,0.336313,0.400065,0.216269
2022-11-22,-0.266572,-0.180173,-0.272744,-0.494913,-0.443485,-0.356171,-0.481884,-0.230001,-0.462684,-0.301772,...,0.908272,0.401992,3.518529,0.405420,1.860947,0.272393,2.032603,0.325193,0.400392,0.212508
2022-11-23,-0.260323,-0.177554,-0.279493,-0.486756,-0.433080,-0.350987,-0.471871,-0.227170,-0.454505,-0.297536,...,0.872291,0.378604,3.442436,0.384468,1.752762,0.239452,2.080457,0.339362,0.392587,0.202691
2022-11-24,-0.263220,-0.167326,-0.293680,-0.488401,-0.434024,-0.353473,-0.474186,-0.235918,-0.456361,-0.295260,...,0.870131,0.375545,3.529885,0.380509,1.718508,0.248514,1.976632,0.366520,0.389083,0.203162
2022-11-25,-0.250377,-0.131964,-0.300272,-0.488584,-0.429262,-0.350856,-0.474328,-0.231983,-0.456394,-0.286016,...,0.814653,0.370890,3.424115,0.429752,1.678955,0.253397,1.966826,0.339850,0.405380,0.217068

In [39]:
codelst = list(vol.columns)
for code in codelst:
    if sum(np.isnan(vol[code])) != 0:
        del vol[code]

'689009'

In [42]:
for i in range(len(vol)):
    mu = np.nanmean(vol.iloc[i, :])
    sd = np.nanstd(vol.iloc[i, :])
    vol.iloc[i, :] = (vol.iloc[i, :]-mu) / sd
vol

code,000001,000002,000004,000005,000006,000008,000009,000010,000011,000012,...,688787,688788,688789,688793,688798,688799,688800,688819,688981,689009
date,,,,,,,,,,,,,,,,,,,,,
2022-06-02,-0.190675,-0.110833,-0.272640,-0.446762,-0.393251,-0.429775,-0.213820,-0.403869,-0.217855,-0.352906,...,0.613686,0.907146,3.993572,0.893343,2.843727,0.186873,1.959100,0.227431,0.458462,0.604555
2022-06-06,-0.192876,-0.128280,-0.271343,-0.447118,-0.395772,-0.431797,-0.203849,-0.397222,-0.227658,-0.354779,...,0.661775,0.929888,3.840833,0.869847,2.760926,0.191386,1.968387,0.240453,0.459706,0.652458
2022-06-07,-0.192716,-0.123686,-0.280323,-0.451948,-0.397484,-0.436749,-0.208760,-0.399384,-0.222482,-0.356742,...,0.637966,0.944907,3.639821,0.820779,2.723432,0.188954,2.042632,0.244263,0.462963,0.678920
2022-06-08,-0.188385,-0.117722,-0.277446,-0.445114,-0.393894,-0.430898,-0.195285,-0.395984,-0.227480,-0.352081,...,0.589118,0.940761,3.608816,0.771629,2.591936,0.187300,1.915619,0.244374,0.454063,0.652882
2022-06-09,-0.176152,-0.101843,-0.278434,-0.443921,-0.390538,-0.429187,-0.190032,-0.395449,-0.226546,-0.350608,...,0.578470,0.490281,3.489123,0.716411,2.468440,0.181514,1.894040,0.245360,0.455048,0.678830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-21,-0.266136,-0.172041,-0.276668,-0.486836,-0.434637,-0.473557,-0.219203,-0.455242,-0.294067,-0.365268,...,0.879488,0.440378,3.416161,0.432823,1.913617,0.317207,1.976118,0.358875,0.423436,0.237307
2022-11-22,-0.251249,-0.163817,-0.257494,-0.482319,-0.430277,-0.469135,-0.214241,-0.449706,-0.286870,-0.361811,...,0.937640,0.425308,3.579103,0.428777,1.901705,0.294160,2.075412,0.347590,0.423688,0.233559
2022-11-23,-0.245950,-0.161957,-0.265404,-0.475732,-0.421262,-0.460627,-0.212307,-0.443004,-0.283713,-0.354204,...,0.903414,0.402427,3.511570,0.408377,1.796906,0.261216,2.129449,0.362604,0.416616,0.223911
2022-11-24,-0.248925,-0.151545,-0.279857,-0.477596,-0.422375,-0.463160,-0.221200,-0.445059,-0.281461,-0.355928,...,0.901990,0.399739,3.602961,0.404780,1.763514,0.270739,2.025638,0.390574,0.413487,0.224685
2022-11-25,-0.235707,-0.115652,-0.286293,-0.477215,-0.417071,-0.462762,-0.217057,-0.444579,-0.271840,-0.354130,...,0.844088,0.394174,3.489725,0.453851,1.720372,0.275051,2.012234,0.362703,0.429141,0.238219

In [43]:
vol = np.absolute(vol)

In [50]:
result = 1 / ((vol.iloc[:117, :].apply(np.nanvar, axis=0)) * (vol.iloc[:117, :].apply(np.nanmean, axis=0)))**2 * vol.iloc[-3:, :].apply(np.nanmedian, axis=0)

In [56]:
kkk = iter(result.sort_values(ascending=False).index)

In [57]:
p = inv.yield_candle(kkk, n=30)

In [59]:
next(p)

688393: 安必平

In [67]:
def set_token(token="b0d854062647cfcfae29b2c76372c2345a82468bbbff6c7f6e458ae3"):
    try:
        if token is None:
            # 从~/.quantaxis/setting/config.ini中读取配置
            token = QASETTING.get_config('TSPRO', 'token', None)
        else:
            QASETTING.set_config('TSPRO', 'token', token)
        ts.set_token(token)
    except:
        if token is None:
            print('请设置tushare的token')
        else:
            print('请升级tushare 至最新版本 pip install tushare -U')

def get_pro():
    try:
        set_token()
        pro = ts.pro_api(token="b0d854062647cfcfae29b2c76372c2345a82468bbbff6c7f6e458ae3")
    except Exception as e:
        if isinstance(e, NameError):
            print('请设置tushare pro的token凭证码')
        else:
            print('请升级tushare 至最新版本 pip install tushare -U')
            print(e)
        pro = None
    return pro

In [84]:
def QA_fmt_code(code: str, style: str = None):
    """
    对股票代码格式化处理

    ---
    :param code: 股票代码
    :param style: 代码风格
    """
    pattern = re.compile(r"\d+")
    code = pattern.findall(code)[0]
    if style in ["jq", "joinquant", "聚宽"]:
        return code + ".XSHG" if code[0] == "6" else code + ".XSHE"
    if style in ["wd", "windcode", "万得"]:
        return code + ".SH" if code[0] == "6" else code + ".SZ"
    if style in ["gm", "goldminer", "掘金"]:
        return "SHSE." + code if code[0] == "6" else "SZSE." + code
    if style in ["ss", "skysoft", "天软"]:
        return "SH" + code if code[0] == "6" else "SZ" + code
    if style in ["ts", "tushare", "挖地兔"]:
        return code + ".SH" if code[0] == "6" else code + ".SZ"
    else:
        return code

In [88]:
def QA_fmt_code_list(code_list: Union[str, Tuple[str], List[str]], style: str = None):
    """
    为了适应不同行情源股票代码，加入对股票代码格式化的操作, 目前支持 “聚宽” “掘金” “万得” “天软”
    股票代码格式格式化

    参数
    ---
    :param code_list: 股票代码或列表
    :param style: 行情源
    """

    if isinstance(code_list, str):
        return [QA_fmt_code(code_list, style)]
    else:
        fmt_code = partial(QA_fmt_code, style=style)
        return list(map(fmt_code, code_list))

In [159]:
type(Union)

typing._SpecialForm

In [94]:
from typing import Union, Tuple, List
import datetime
def QA_fetch_get_individual_financial(
        code: str,
        start: Union[str, datetime.datetime, pd.Timestamp] = None,
        end: Union[str, datetime.datetime, pd.Timestamp] = None,
        report_date: Union[str, datetime.datetime] = None,
        sheet_type: str = "income",
        report_type: Union[int, str] = 1,
        fields: Union[str, Tuple, List] = None,
        wait_seconds: int = 61,
        max_trial: int = 3) -> pd.DataFrame:
    """个股财务报表网络查询接口，注意，这里的 start 与 end 是针对 report_date 进行范围查询

    Args:
        code (str): 股票代码
        start (Union[str, datetime.datetime, pd.Timestamp], optional): 查询起始时间，默认为 None
        end (Union[str, datetime.datetime, pd.Timestamp], optional): 查询结束时间，默认为 None
        report_date (Union[str, datetime.datetime], optional): 报告期. 默认为 None，如果使用了 report_date, 则 start 与 end 参数不再起作用
        sheet_type (str, optional): 报表类型，默认为 "income" 类型
            (利润表 "income"|
            资产负债表 "balancesheet"|
            现金流量表 "cashflow"|
            业绩预告 "forecast"|
            业绩快报 "express")
        report_type (Union[int, str], optional): 报告类型. 默认为 1。
            (1	合并报表	上市公司最新报表（默认）|
            2	单季合并	单一季度的合并报表 |
            3	调整单季合并表	调整后的单季合并报表（如果有） |
            4	调整合并报表	本年度公布上年同期的财务报表数据，报告期为上年度 |
            5	调整前合并报表	数据发生变更，将原数据进行保留，即调整前的原数据 |
            6	母公司报表	该公司母公司的财务报表数据 |
            7	母公司单季表	母公司的单季度表 |
            8	母公司调整单季表	母公司调整后的单季表 |
            9	母公司调整表	该公司母公司的本年度公布上年同期的财务报表数据 |
            10 母公司调整前报表	母公司调整之前的原始财务报表数据 |
            11 调整前合并报表	调整之前合并报表原数据 |
            12 母公司调整前报表	母公司报表发生变更前保留的原数据)
            fields (Union[str, Tuple, List], optional): 指定数据范围，如果设置为 None，则返回所有数据. 默认为 None.
            wait_seconds (int, optional): 等待重试时间. 默认为 61 秒.
            max_trial (int, optional): 最大重试次数. 默认为 3.

    Returns:
        pd.DataFrame: 返回指定个股时间范围内指定类型的报表数据
    """
    def _get_individual_financial(code, report_date, report_type, sheet_type, fields, wait_seconds, trial_count):
        ts.set_token("b0d854062647cfcfae29b2c76372c2345a82468bbbff6c7f6e458ae3")
        nonlocal pro, max_trial
        if trial_count >= max_trial:
            raise ValueError("[ERROR]\tEXCEED MAX TRIAL!")
        try:
            if not fields:
                df = eval(
                    f"pro.{sheet_type}(ts_code='{code}', period='{report_date}', report_type={report_type})")
            else:
                df = eval(
                    f"pro.{sheet_type}(ts_code='{code}', period='{report_date}', report_type={report_type}, fields={fields})")
            return df.rename(columns={"ts_code": "code", "end_date": "report_date"})
        except Exception as e:
            print(e)
            time.sleep(wait_seconds)
            _get_individual_financial(
                code, report_date, report_type, sheet_type, fields, wait_seconds, trial_count+1)

    pro = get_pro()
    report_type = int(report_type)
    if (not start) and (not end) and (not report_date):
        raise ValueError(
            "[QRY_DATES ERROR]\tparam 'start', 'end' and 'report_date' should not be none at the same time!")
    if isinstance(fields, str):
        fields = sorted(list(set([fields, "ts_code", "end_date",
                                  "ann_date", "f_ann_date", "report_type", "update_flag"])))
    if report_date:
        report_date = pd.Timestamp(report_date)
        year = report_date.year
        report_date_lists = [
            pd.Timestamp(str(year) + report_date_tail) for report_date_tail in REPORT_DATE_TAILS]
        if report_date not in report_date_lists:
            raise ValueError("[REPORT_DATE ERROR]")
        if sheet_type not in ["income", "balancesheet", "cashflow", "forecast", "express"]:
            raise ValueError("[SHEET_TYPE ERROR]")
        if report_type not in range(1, 13):
            raise ValueError("[REPORT_TYPE ERROR]")
        report_dates = [report_date]
    else:
        start = pd.Timestamp(start)
        start_year = start.year
        end = pd.Timestamp(end)
        end_year = end.year
        origin_year_ranges = pd.date_range(
            str(start_year), str(end_year+1), freq='Y').map(str).str.slice(0, 4).tolist()
        origin_report_ranges = pd.Series([
            pd.Timestamp(year + report_date_tail) for year in origin_year_ranges for report_date_tail in REPORT_DATE_TAILS])
        report_dates = origin_report_ranges.loc[(
            origin_report_ranges >= start) & (origin_report_ranges <= end)]
    df = pd.DataFrame()
    for report_date in report_dates:
        df = pd.concat([df, _get_individual_financial(
            code=QA_fmt_code(code, "ts"),
            report_date=report_date.strftime("%Y%m%d"),
            report_type=report_type,
            sheet_type=sheet_type,
            fields=fields,
            wait_seconds=wait_seconds,
            trial_count=0)])
    df.code = QA_fmt_code_list(df.code)
    return df.reset_index(drop=True)

In [96]:
import re
from functools import partial
REPORT_DATE_TAILS=["0331", "0630", "0930", "1231"]
QA_fetch_get_individual_financial(code="000001", start="20220301", end="20221127")

请升级tushare 至最新版本 pip install tushare -U

,code,ann_date,f_ann_date,report_date,report_type,comp_type,end_type,basic_eps,diluted_eps,total_revenue,...,withdra_biz_devfund,withdra_rese_fund,withdra_oth_ersu,workers_welfare,distr_profit_shrhder,prfshare_payable_dvd,comshare_payable_dvd,capit_comstock_div,continued_net_profit,update_flag
0,000001,20220427,20220427,20220331,1,2,1,0.56,0.56,4.620700e+10,...,None,None,None,None,None,None,None,None,1.285000e+10,1
1,000001,20220818,20220818,20220630,1,2,2,1.03,1.03,9.202200e+10,...,None,None,None,None,None,None,None,None,2.208800e+10,1
2,000001,20221025,20221025,20220930,1,2,3,1.78,1.78,1.382650e+11,...,None,None,None,None,None,None,None,None,3.665900e+10,1

TypeError: 'DataApi' object is not callable

In [223]:
def QA_fetch_last_financial(
        code: Union[str, List, Tuple] = None,
        cursor_date: Union[str, datetime.datetime, pd.Timestamp] = None,
        report_label: Union[int, str] = None,
        report_type: Union[int, str, List, Tuple] = None,
        sheet_type: str = "income",
        fields: Union[str, List, Tuple] = None) -> pd.DataFrame:
    """获取距离指定日期 (cursor_date) 最近的原始数据 (不包含在 cursor_date 发布的财务数据)，
       当同时输入 cursor_date 与 report_date 时，以 report_date 作为查询标准
       注意：
           这里的 report_type 仅支持 (1,4, 5) 三种类型，以避免混淆合并数据和单季数据等
       说明：
           柳工 (000528) 在 2018 年 8 月 30 日发布半年报，之后在 2018 年 9 月 29 日发布修正报告，
           - 如果输入的 cursor_date 为 2018-08-31, 那么获取到的就是原始半年报，对应 report_type == 5
           - 如果输入的 cursor_date 为 2018-09-30，那么获取到的就是最新合并报表，对应 report_type == 1
           - 如果对应的 cursor_date 为 2019-08-31，需要获取 2018 年半年报，那么就返回柳工在 2019 年 8 月 29 日发布的上年同期基准，对应 report_type == 4

    Args:
        code (Union[str, List, Tuple], optional): 股票代码或股票列表，默认为 None, 查询所有股票
        cursor_date (Union[str, datetime.datetime, pd.Timestamp]): 查询截面日期 (一般指调仓日), 默认为 None
        report_label (Union[str, int], optional): 指定报表类型，这里的类型分类为一季报，半年报，三季报，年报, 默认为 None，即选择距离 cursor_date 最近的报表类型
        report_type (Union[str, List, Tuple], optional): [description]. 报表类型，默认为 None. 即距离 cursor_date 最近的财报，不指定类型，避免引入未来数据
            (1	合并报表	上市公司最新报表（默认）|
             2  单季合并报表
             4	调整合并报表	本年度公布上年同期的财务报表数据，报告期为上年度 |
             5	调整前合并报表	数据发生变更，将原数据进行保留，即调整前的原数据)
        sheet_type (str, optional): 报表类型，默认为 "income".
        fields (Union[str, List, Tuple], optional): 字段, 默认为 None, 返回所有字段

    Returns:
        pd.DataFrame: 复合条件的财务数据
    """
    fields = list(set([fields, "ts_code", "end_date",
                                  "ann_date", "f_ann_date", "report_type", "update_flag"]))
    def _trans_financial_type(x):
        if x.empty:
            return x
        if sheet_type == "balancesheet":
            # 资产负债表属于时点信息，直接返回
            return x
        else:
            if x.iloc[0].report_date[4:] in ['0331', '1231']:
                # 一季报而言，单季合并与普通合并没有区别，直接返回
                # 年报而言，不存在单季概念
                return x.iloc[0]
            if x.iloc[0].report_type in ['1', '4', '5']:
                return x.iloc[0]
            if x.iloc[0].report_type == '2':
                # 尝试查找同一报告期报告类型为 '1' 或 '4' 的报表数据
                # try:
                #     if (x.shape[0] > 1) & (x.iloc[1].report_date == x.iloc[0].report_date) & (x.iloc[1].report_type in ['1', '4']):
                #         return x.iloc[1]
                # except:
                #     return pd.Series()
                # 尝试直接利用单季数据进行拼接
                cursor_x = x.loc[x.report_date.map(str).str.slice(
                    0, 4) == x.iloc[0].report_date[:4]]
                cursor_x = cursor_x.drop_duplicates(subset = ['report_date'], keep='first')
                cursor_x = cursor_x.loc[cursor_x.report_date <=
                                        x.iloc[0].report_date]
                cursor_x = cursor_x.fillna(0)
                non_numeric_columns = sorted(["f_ann_date", "f_ann_date_stamp", "ann_date", "ann_date_stamp", "report_date", "report_date_stamp",
                    "update_flag", "report_type", "code", "report_label"])
                columns = sorted(list(set(cursor_x.columns) - set(non_numeric_columns)))
                rtn_se = cursor_x[columns].sum(axis=0)
                rtn_se = rtn_se.append(cursor_x[non_numeric_columns].iloc[0])
                return rtn_se
    if isinstance(code, str):
        code = (code,)
    if not report_type:
        report_type = ["1", "2", "4", "5"]
    else:
        if isinstance(report_type, int):
            report_type = str(report_type)
        if isinstance(report_type, str):
            if report_type not in ["1", "4", "5"]:
                raise ValueError("[REPORT_TYPE ERROR]")
            report_type = (report_type,)
        else:
            report_type = list(set(report_type) & set('1', '2', '4', '5'))

    if sheet_type not in SHEET_TYPE:
        raise ValueError(f"[SHEET_TYPE ERROR]")
    if report_label:
        report_label = str(report_label)

    if isinstance(fields, str):
        fields = list(
            set([fields, "code", "ann_date", "report_date", "f_ann_date", "report_type"]))
    elif fields:
        fields = list(
            set(fields + ["code", "ann_date", "report_date", "f_ann_date", "report_type"]))

    coll = eval(f"DATABASE.{sheet_type}")
    if (not code) and (not report_label):
        # 为了加快检索速度，从当前日期往前至多回溯一季度，实际调仓时，仅考虑当前能拿到的最新数据，调仓周期一般以月, 季为单位，
        # 最长一般为年报，而修正报表如果超过 1 个季度，基本上怼调仓没有影响，这里以 1 年作为回溯基准
        qry = {
            "f_ann_date_stamp": {
                "$gt": QA_util_date_stamp((pd.Timestamp(cursor_date) - pd.Timedelta(days=400)).strftime("%Y-%m-%d")),
                "$lt": QA_util_date_stamp(cursor_date)
            },
            "report_type": {
                "$in": report_type
            }}
        cursor = coll.find(qry, batch_size=10000).sort([
            ("report_date_stamp", pymongo.DESCENDING),
            ("f_ann_date_stamp", pymongo.DESCENDING)])
        df = pd.DataFrame(cursor)
        if df.empty:
            return None
        else:
            try:
                if not fields:
                    df = df.drop(columns="_id")
                else:
                    df = df.drop(columns="_id")[fields]
            except:
                raise ValueError("[QRY ERROR]")
        if sheet_type == "balancesheet":
            return df.groupby("code").apply(lambda x: x.iloc[0])
        return df.groupby("code").apply(_trans_financial_type).unstack()
    if not report_label:
        qry = {
            "code": {
                "$in": code
            },
            "f_ann_date_stamp": {
                "$gt": QA_util_date_stamp((pd.Timestamp(cursor_date) - pd.Timedelta(days=400)).strftime("%Y-%m-%d")),
                "$lt": QA_util_date_stamp(cursor_date)
            },
            "report_type": {"$in": report_type}}
        cursor = coll.find(qry, batch_size=10000).sort([
            ("report_date_stamp", pymongo.DESCENDING),
            ("f_ann_date_stamp", pymongo.DESCENDING)])
        if pd.DataFrame(cursor).empty:
            return None
        else:
            try:
                ['report_date', 'code', 'end_date', 'report_type', None, 
                 'update_flag', 'ann_date', 'f_ann_date', 'ts_code']

                if not fields:
                    df = pd.DataFrame(cursor).drop("_id")
                else:
                    df = pd.DataFrame(cursor).drop("_id")[fields]
            except:
                raise ValueError("[QRY ERROR]")
        if sheet_type == "balancesheet":
            return df.groupby("code").apply(lambda x: x.iloc[0])
        return df.groupby("code").apply(_trans_financial_type).unstack()
    if not code:
        qry = {
            "f_ann_date_stamp": {
                "$gt": QA_util_date_stamp((pd.Timestamp(cursor_date) - pd.Timedelta(days=400)).strftime("%Y-%m-%d")),
                "$lt": QA_util_date_stamp(cursor_date)
            },
            "report_type": {
                "$in": report_type
            },
            "report_label": report_label
        }
        cursor = coll.find(qry, batch_size=10000).sort([
            ("report_date_stamp", pymongo.DESCENDING),
            ("f_ann_date_stamp", pymongo.DESCENDING)])
        try:
            if not fields:
                df = pd.DataFrame(cursor).drop(columns="_id")
            else:
                df = pd.DataFrame(cursor).drop(columns="_id")[fields]
        except:
            raise ValueError("[QRY ERROR]")
        if sheet_type == "balancesheet":
            return df.groupby("code").apply(lambda x: x.iloc[0])
        return df.groupby("code").apply(_trans_financial_type).unstack()
    else:
        qry = {
            "code": {
                "$in": code
            },
            "f_ann_date_stamp": {
                "$gt": QA_util_date_stamp((pd.Timestamp(cursor_date) - pd.Timedelta(days=400)).strftime("%Y-%m-%d")),
                "$lt": QA_util_date_stamp(cursor_date)
            },
            "report_type": {
                "$in": report_type
            },
            "report_label": report_label
        }
        cursor = coll.find(qry, batch_size=10000).sort([
            ("report_date_stamp", pymongo.DESCENDING),
            ("f_ann_date_stamp", pymongo.DESCENDING)])
        try:
            if not fields:
                print(pd.DataFrame(cursor))
                df = pd.DataFrame(cursor).drop(columns="_id")
            else:
                print(pd.DataFrame(cursor))
                df = pd.DataFrame(cursor).drop(columns="_id")[fields]
        except:
            raise ValueError("[QRY ERROR]")
        # df.report_date = pd.to_datetime(df.report_date, utc=False)
        # df.ann_date = pd.to_datetime(df.ann_date, utc=False)
        # df.f_ann_date = pd.to_datetime(df.f_ann_date, utc=False)
        if sheet_type == "balancesheet":
            return df.groupby("code").apply(lambda x: x.iloc[0])

In [294]:

def QA_ts_update_all(
    start: Union[str, datetime.datetime] = None,
    end: Union[str, datetime.datetime] = None,
    wait_seconds: int = 61,
    report_type: Union[int, str] = "1",
    max_trial=3,
) -> pd.DataFrame:
    """
    全量更新

    ---
    :param start: 开始时间 (以 report_date 作为比较标准)
    :param end: 结束时间 (以 report_date 作为比较标准)
    :param report_type: 报告类型
    :param wait_seconds: 等待时间
    :param max_trial: 超时重试次数
    """

    def _ts_update_all(report_date, report_type, sheet_type, wait_seconds, max_trial):
        # 获取指定报告期，指定报告类型，指定报表类型的截面数据
        df = QA_fetch_get_crosssection_financial(
            report_date=report_date,
            report_type=report_type,
            sheet_type=sheet_type,
            wait_seconds=wait_seconds,
            max_trial=max_trial,
        )
        coll = eval(f"DATABASE.{sheet_type}")
        # 考虑到查找的方式，可能根据股票代码查找，可能根据报告期查找，可能根据公告期查找，可能根据最后公告期查找，可能根据报告类型查找
        coll.create_index(
            [
                ("code", ASCENDING),
                ("report_label", ASCENDING),
                ("report_date", DESCENDING),
                ("report_type", ASCENDING),
                ("report_date_stamp", ASCENDING),
                ("ann_date_stamp", ASCENDING),
                ("f_ann_date_stamp", ASCENDING),
            ],
            unique=False,
        )
        # FIXME: insert_many may be better
        for item in QA_util_to_json_from_pandas(df):
            report_label = None
            if item["report_date"].endswith("0331"):
                report_label = "1"
            elif item["report_date"].endswith("0630"):
                report_label = "2"
            elif item["report_date"].endswith("0930"):
                report_label = "3"
            elif item["report_date"].endswith("1231"):
                report_label = "4"
            item["report_label"] = report_label
            coll.update_one(
                {
                    "code": item["code"],
                    "report_label": report_label,
                    "report_date": item["report_date"],
                    "report_type": item["report_type"],
                    "report_date_stamp": QA_util_date_stamp(item["report_date"]),
                    "ann_date_stamp": QA_util_date_stamp(item["ann_date"]),
                    "f_ann_date_stamp": QA_util_date_stamp(item["f_ann_date"]),
                },
                {"$set": item},
                upsert=True,
            )

    # 如果不指定起始年份，默认从 1990-01-01 开始
    if not start:
        start = pd.Timestamp("1990-01-01")
    else:
        start = pd.Timestamp(start)
    if not end:
        end = pd.Timestamp(datetime.date.today())
    else:
        end = pd.Timestamp(end)

    # 生成报告期列表
    start_year = start.year
    end_year = end.year
    origin_report_dates = pd.Series(
        [
            pd.Timestamp(year + date_tail)
            for year in pd.date_range(str(start_year), str(end_year + 1), freq="1Y")
            .map(str)
            .str.slice(0, 4)
            for date_tail in REPORT_DATE_TAILS
        ]
    )
    report_dates = origin_report_dates.loc[
        (origin_report_dates >= start) & (origin_report_dates <= end)
    ]

    # Tushare 接口配置
    pro = get_pro()

    # 对 SHEET_TYPE 中所列财务报表进行循环
    for sheet_type in SHEET_TYPE:
        # 对指定报告期列表进行循环
        for report_date in report_dates:
            _ts_update_all(
                report_date=report_date.strftime("%Y%m%d"),
                report_type=report_type,
                sheet_type=sheet_type,
                wait_seconds=wait_seconds,
                max_trial=max_trial,
            )

In [301]:
import tushare as ts


def QA_fetch_get_crosssection_financial(
        report_date: Union[str, datetime.datetime, pd.Timestamp],
        report_type: Union[int, str] = 1,
        sheet_type: str = "income",
        fields: Union[str, Tuple, List] = None,
        wait_seconds: int = 61,
        max_trial: int = 3) -> pd.DataFrame:
    """截面财务报表网络查询接口

    Args:
        report_date (Union[str, datetime.datetime, pd.Timestamp]): 报告期
        report_type (Union[int, str], optional): 报告类型，默认值为 1.
            (1	合并报表	上市公司最新报表（默认）|
             2	单季合并	单一季度的合并报表 |
             3	调整单季合并表	调整后的单季合并报表（如果有） |
             4	调整合并报表	本年度公布上年同期的财务报表数据，报告期为上年度 |
             5	调整前合并报表	数据发生变更，将原数据进行保留，即调整前的原数据 |
             6	母公司报表	该公司母公司的财务报表数据 |
             7	母公司单季表	母公司的单季度表 |
             8	母公司调整单季表	母公司调整后的单季表 |
             9	母公司调整表	该公司母公司的本年度公布上年同期的财务报表数据 |
             10 母公司调整前报表	母公司调整之前的原始财务报表数据 |
             11 调整前合并报表	调整之前合并报表原数据 |
             12 母公司调整前报表	母公司报表发生变更前保留的原数据)

        sheet_type (str, optional): 报表类型，默认为 "income".
            (利润表 "income"|
             资产负债表 "balancesheet"|
             现金流量表 "cashflow"|
             业绩预告 "forecast"|
             业绩快报 "express")
        fields (Union[str, List], optional): 数据范围，默认为 None，返回所有数据.
        wait_seconds (int, optional): 查询超时时间, 默认为 61.
        max_trial (int, optional): 查询最大尝试次数, 默认为 3.

    Returns:
        pd.DataFrame: 指定报告期的指定财务报表数据
    """
    pro = ts.pro_api()
    def _get_crosssection_financial(report_date, report_type, sheet_type, fields, wait_seconds, trial_count):
        nonlocal pro, max_trial
        if trial_count >= max_trial:
            raise ValueError("[ERROR]\tEXCEED MAX TRIAL!")
        try:
            if not fields:
                print(
                    f"pro.{sheet_type}_vip(period='{report_date}', report_type={report_type})")
                df = eval(
                    f"pro.{sheet_type}_vip(period='{report_date}', report_type={report_type})")
            else:
                df = eval(
                    f"pro.{sheet_type}_vip(period='{report_date}', report_type={report_type}, fields={fields})")
            if df is None:
                df = pd.DataFrame()
            if df.empty:
                return df
            df.ts_code = QA_fmt_code_list(df.ts_code)
            return df.rename(columns={"ts_code": "code", "end_date": "report_date"}).sort_values(by=['ann_date', 'f_ann_date'])
        except Exception as e:
            print(e)
            time.sleep(wait_seconds)
            _get_crosssection_financial(
                report_date, report_type, sheet_type, fields, wait_seconds, trial_count + 1)

In [312]:
def QA_ts_update_industry(
    level: Union[str, List, Tuple] = ["L1", "L2", "L3"],
    src: Union[str, List, Tuple] = "SW",
):
    """
    保存个股行业信息
    """
    pro = get_pro()
    if isinstance(level, str):
        level = [level]
    if isinstance(src, str):
        src = [src]
    df_industry = pd.DataFrame()
    for s in src:
        for lv in level:
            try:
                df_tmp = pro.index_classify(level=lv, src=s)
                df_tmp["src"] = "sw"
                df_industry = df_industry.append(df_tmp)
            except Exception as e1:
                print(e1)
                time.sleep(61)
                try:
                    df_tmp = pro.index_classify(level=lv, src=s)
                    df_tmp["src"] = "sw"
                    df_industry = df_industry.append(df_tmp)
                except Exception as e2:
                    raise ValueError(e2)
    df_results = pd.DataFrame()
    for idx, item in df_industry.iterrows():
        if idx % 100 == 0:
            print(f"currently saving {idx}th record")
        try:
            df_tmp = pro.index_member(index_code=item["index_code"])
            df_tmp["industry_name"] = item["industry_name"]
            df_tmp["level"] = item["level"].lower()
            df_tmp["src"] = item["src"].lower()
            df_results = df_results.append(df_tmp)
        except Exception as e1:
            print(e1)
            time.sleep(61)
            try:
                df_tmp = pro.index_member(index_code=item["index_code"])
                df_tmp["industry_name"] = item["industry_name"]
                df_tmp["level"] = item["level"].lower()
                df_tmp["src"] = item["src"].lower()
                df_results = df_results.append(df_tmp)
            except Exception as e2:
                raise ValueError(e2)
    df_results.con_code = QA_fmt_code_list(df_results.con_code)
    df_results = df_results.rename(columns={"con_code": "code"})
    df_results = df_results.sort_values(by="code")
    coll = DATABASE.industry
    coll.create_index(
        [
            ("code", ASCENDING),
            ("level", ASCENDING),
            ("src", ASCENDING),
            ("in_date_stamp", DESCENDING),
            ("out_date_stamp", DESCENDING),
        ],
        unique=False,
    )
    for item in QA_util_to_json_from_pandas(df_results):
        item["in_date_stamp"] = QA_util_date_stamp(item["in_date"])
        if not item["out_date"]:
            item["out_date_stamp"] = 9999999999
        else:
            item["out_date_stamp"] = QA_util_date_stamp(item["out_date_stamp"])
        coll.update_one(
            {
                "code": item["code"],
                "level": item["level"],
                "src": item["src"],
                "in_date_stamp": item["in_date_stamp"],
            },
            {"$set": item},
            upsert=True,
        )
    print('finished saving industry')

In [313]:
import pymongo
ASCENDING = pymongo.ASCENDING
DESCENDING = pymongo.DESCENDING
REPORT_TYPE = ['1', '2', '3', '4', '5', '11']

QA_ts_update_industry()

请升级tushare 至最新版本 pip install tushare -U
抱歉，您没有访问该接口的权限，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。

KeyboardInterrupt:

In [336]:
import datetime
def QA_fetch_get_individual_financial(
        code: str,
        start: Union[str, datetime.datetime, pd.Timestamp] = None,
        end: Union[str, datetime.datetime, pd.Timestamp] = None,
        report_date: Union[str, datetime.datetime] = None,
        sheet_type: str = "income",
        report_type: Union[int, str] = 1,
        fields: Union[str, Tuple, List] = None,
        wait_seconds: int = 61,
        max_trial: int = 3) -> pd.DataFrame:
    """个股财务报表网络查询接口，注意，这里的 start 与 end 是针对 report_date 进行范围查询

    Args:
        code (str): 股票代码
        start (Union[str, datetime.datetime, pd.Timestamp], optional): 查询起始时间，默认为 None
        end (Union[str, datetime.datetime, pd.Timestamp], optional): 查询结束时间，默认为 None
        report_date (Union[str, datetime.datetime], optional): 报告期. 默认为 None，如果使用了 report_date, 则 start 与 end 参数不再起作用
        sheet_type (str, optional): 报表类型，默认为 "income" 类型
            (利润表 "income"|
            资产负债表 "balancesheet"|
            现金流量表 "cashflow"|
            业绩预告 "forecast"|
            业绩快报 "express")
        report_type (Union[int, str], optional): 报告类型. 默认为 1。
            (1	合并报表	上市公司最新报表（默认）|
            2	单季合并	单一季度的合并报表 |
            3	调整单季合并表	调整后的单季合并报表（如果有） |
            4	调整合并报表	本年度公布上年同期的财务报表数据，报告期为上年度 |
            5	调整前合并报表	数据发生变更，将原数据进行保留，即调整前的原数据 |
            6	母公司报表	该公司母公司的财务报表数据 |
            7	母公司单季表	母公司的单季度表 |
            8	母公司调整单季表	母公司调整后的单季表 |
            9	母公司调整表	该公司母公司的本年度公布上年同期的财务报表数据 |
            10 母公司调整前报表	母公司调整之前的原始财务报表数据 |
            11 调整前合并报表	调整之前合并报表原数据 |
            12 母公司调整前报表	母公司报表发生变更前保留的原数据)
        fields (Union[str, Tuple, List], optional): 指定数据范围，如果设置为 None，则返回所有数据. 默认为 None.
        wait_seconds (int, optional): 等待重试时间. 默认为 61 秒.
        max_trial (int, optional): 最大重试次数. 默认为 3.

    Returns:
        pd.DataFrame: 返回指定个股时间范围内指定类型的报表数据
    """
    def _get_individual_financial(code, report_date, report_type, sheet_type, fields, wait_seconds, trial_count):
        nonlocal pro, max_trial
        if trial_count >= max_trial:
            raise ValueError("[ERROR]\tEXCEED MAX TRIAL!")
        try:
            if not fields:
                df = eval(
                    f"pro.{sheet_type}(ts_code='{code}', period='{report_date}', report_type={report_type})")
            else:
                df = eval(
                    f"pro.{sheet_type}(ts_code='{code}', period='{report_date}', report_type={report_type}, fields={fields})")
            return df.rename(columns={"ts_code": "code", "end_date": "report_date"})
        except Exception as e:
            print(e)
            time.sleep(wait_seconds)
            _get_individual_financial(
                code, report_date, report_type, sheet_type, fields, wait_seconds, trial_count+1)

    pro = get_pro()
    report_type = int(report_type)
    if (not start) and (not end) and (not report_date):
        raise ValueError(
            "[QRY_DATES ERROR]\tparam 'start', 'end' and 'report_date' should not be none at the same time!")
    if isinstance(fields, str):
        fields = sorted(list({fields, "ts_code", "end_date", "ann_date", "f_ann_date", "report_type", "update_flag"}))
    if report_date:
        report_date = pd.Timestamp(report_date)
        year = report_date.year
        report_date_lists = [
            pd.Timestamp(str(year) + report_date_tail) for report_date_tail in REPORT_DATE_TAILS]
        if report_date not in report_date_lists:
            raise ValueError("[REPORT_DATE ERROR]")
        if sheet_type not in ["income", "balancesheet", "cashflow", "forecast", "express"]:
            raise ValueError("[SHEET_TYPE ERROR]")
        if report_type not in range(1, 13):
            raise ValueError("[REPORT_TYPE ERROR]")
        report_dates = [report_date]
    else:
        start = pd.Timestamp(start)
        start_year = start.year
        end = pd.Timestamp(end)
        end_year = end.year
        origin_year_ranges = pd.date_range(
            str(start_year), str(end_year+1), freq='Y').map(str).str.slice(0, 4).tolist()
        origin_report_ranges = pd.Series([
            pd.Timestamp(year + report_date_tail) for year in origin_year_ranges for report_date_tail in REPORT_DATE_TAILS])
        report_dates = origin_report_ranges.loc[(
            origin_report_ranges >= start) & (origin_report_ranges <= end)]
    df = pd.DataFrame()
    count = 0
    for report_date in report_dates:
        count += 1
        if count == 20:
            count = 0
            time.sleep(61)
        df = pd.concat([df, _get_individual_financial(
            code=QA_fmt_code(code, "ts"),
            report_date=report_date.strftime("%Y%m%d"),
            report_type=report_type,
            sheet_type=sheet_type,
            fields=fields,
            wait_seconds=wait_seconds,
            trial_count=0)])
    df.code = QA_fmt_code_list(df.code)
    return df.reset_index(drop=True)

In [338]:
QA_fetch_get_individual_financial(code="000001",start="2020-03-01", end=str(date.today()), sheet_type="balancesheet")

请升级tushare 至最新版本 pip install tushare -U

,code,ann_date,f_ann_date,report_date,report_type,comp_type,end_type,total_share,cap_rese,undistr_porfit,...,accounts_receiv_bill,accounts_pay,oth_rcv_total,fix_assets_total,cip_total,oth_pay_total,long_pay_total,debt_invest,oth_debt_invest,update_flag
0,000001,20200421,20200421,20200331,1,2,1,1.940600e+10,8.081600e+10,1.210440e+11,...,None,None,None,None,None,None,None,6.269440e+11,2.284990e+11,0
1,000001,20200828,20200828,20200630,1,2,2,1.940600e+10,8.081600e+10,1.219440e+11,...,None,None,None,None,None,None,None,6.140040e+11,2.384450e+11,1
2,000001,20201022,20201022,20200930,1,2,3,1.940600e+10,8.081600e+10,1.306640e+11,...,None,None,None,None,None,None,None,6.081550e+11,2.309700e+11,1
3,000001,20210202,20210202,20201231,1,2,4,1.940600e+10,8.081600e+10,1.311860e+11,...,None,None,None,None,None,None,None,6.336190e+11,1.970730e+11,0
4,000001,20210202,20210202,20201231,1,2,4,1.940600e+10,8.081600e+10,1.311860e+11,...,None,None,None,None,None,None,None,6.336190e+11,1.970730e+11,1
5,000001,20210421,20210421,20210331,1,2,1,1.940600e+10,8.081600e+10,1.392870e+11,...,None,None,None,None,None,None,None,6.575880e+11,1.883140e+11,0
6,000001,20210820,20210820,20210630,1,2,2,1.940600e+10,8.081600e+10,1.432390e+11,...,None,None,None,None,None,None,None,6.992940e+11,1.461020e+11,0
7,000001,20211021,20211021,20210930,1,2,3,1.940600e+10,8.081600e+10,1.540010e+11,...,None,None,None,None,None,None,None,7.304180e+11,1.367330e+11,0
8,000001,20220310,20220310,20211231,1,2,4,1.940600e+10,8.081600e+10,1.543770e+11,...,None,None,None,None,None,None,None,7.381660e+11,1.524280e+11,0
9,000001,20220310,20220310,20211231,1,2,4,1.940592e+10,8.081600e+10,1.543770e+11,...,None,None,None,None,None,None,None,7.381660e+11,1.524280e+11,1
10,000001,20220427,20220427,20220331,1,2,1,1.940600e+10,8.081600e+10,1.648040e+11,...,None,None,None,None,None,None,None,7.309320e+11,1.674420e+11,0
11,000001,20220427,20220427,20220331,1,2,1,1.940592e+10,8.081600e+10,1.648040e+11,...,None,None,None,None,None,None,None,7.309320e+11,1.674420e+11,1
12,000001,20220818,20220818,20220630,1,2,2,1.940592e+10,8.081600e+10,1.693410e+11,...,None,None,None,None,None,None,None,7.551850e+11,1.581050e+11,1
13,000001,20221025,20221025,20220930,1,2,3,1.940592e+10,8.081600e+10,1.836740e+11,...,None,None,None,None,None,None,None,7.458210e+11,1.529240e+11,1

In [354]:
st = QA_fetch_get_individual_financial(code="000001",start="2020-03-01", end=str(date.today()), sheet_type="express")

请升级tushare 至最新版本 pip install tushare -U

In [368]:
st.drop_duplicates

,code,ann_date,report_date,revenue,operate_profit,total_profit,n_income,total_assets,total_hldr_eqy_exc_min_int,diluted_eps,diluted_roe,yoy_net_profit,bps,perf_summary
0,000001,20220114,20211231,1.693830e+11,4.598500e+10,4.587900e+10,3.633600e+10,4.921380e+12,3.255040e+11,1.73,10.85,2.892800e+10,None,None
1,000001,20220114,20211231,1.693830e+11,4.598500e+10,4.587900e+10,3.633600e+10,4.921380e+12,3.954480e+11,1.73,10.85,2.892800e+10,None,None

In [400]:
def QA_fetch_get_stock_list():
    df = QA_fetch_stock_basic()
    return list(df.ts_code)

In [402]:
lst = list(map(lambda s: s[:6], list(QA_fetch_get_stock_list())))

请升级tushare 至最新版本 pip install tushare -U

In [382]:
def QA_ts_update_financials(client=DATABASE):
    for sheet in ["income", "balancesheet", "cashflow", "forecast", "express"]:
        coll = eval("client.ts_"+sheet)
        for code in stocklst:
            print(f"Now saving financial report of type: {sheet}, for stock: {code}...")
            try:
                df = QA_fetch_get_individual_financial(code=code,
                                                         start="1990-01-01",
                                                         end=str(date.today()),
                                                         sheet_type=sheet)
                if df is None or df.empty:
                    continue
                else:
                    df.drop_duplicates(keep="last", inplace=True, ignore_index=True)
                    js = json.loads(df.to_json(orient='records'))
                    coll.insert_many(js)
            except Exception as e:
                print(e)
                QA_util_log_info('error in saving ==== %s' % str(code))
            time.sleep(61)

In [386]:
client=DATABASE
coll = eval("client.ts_"+"income")

In [410]:
def QA_ts_update_industry(
    level: Union[str, List, Tuple] = ["L1", "L2", "L3"],
    src: Union[str, List, Tuple] = "SW",
):
    """
    保存个股行业信息
    """
    pro = get_pro()
    if isinstance(level, str):
        level = [level]
    if isinstance(src, str):
        src = [src]
    df_industry = pd.DataFrame()
    for s in src:
        for lv in level:
            try:
                df_tmp = pro.index_classify(level=lv, src=s)
                df_tmp["src"] = "sw"
                df_industry = df_industry.append(df_tmp)
            except Exception as e1:
                print(e1)
                time.sleep(61)
                try:
                    df_tmp = pro.index_classify(level=lv, src=s)
                    df_tmp["src"] = "sw"
                    df_industry = df_industry.append(df_tmp)
                except Exception as e2:
                    raise ValueError(e2)
    df_results = pd.DataFrame()
    for idx, item in df_industry.iterrows():
        if idx % 100 == 0:
            print(f"currently saving {idx}th record")
        try:
            df_tmp = pro.index_member(index_code=item["index_code"])
            df_tmp["industry_name"] = item["industry_name"]
            df_tmp["level"] = item["level"].lower()
            df_tmp["src"] = item["src"].lower()
            df_results = df_results.append(df_tmp)
        except Exception as e1:
            print(e1)
            time.sleep(61)
            try:
                df_tmp = pro.index_member(index_code=item["index_code"])
                df_tmp["industry_name"] = item["industry_name"]
                df_tmp["level"] = item["level"].lower()
                df_tmp["src"] = item["src"].lower()
                df_results = df_results.append(df_tmp)
            except Exception as e2:
                raise ValueError(e2)
    df_results.con_code = QA_fmt_code_list(df_results.con_code)
    df_results = df_results.rename(columns={"con_code": "code"})
    df_results = df_results.sort_values(by="code")
    coll = DATABASE.industry
    coll.create_index(
        [
            ("code", ASCENDING),
            ("level", ASCENDING),
            ("src", ASCENDING),
            ("in_date_stamp", DESCENDING),
            ("out_date_stamp", DESCENDING),
        ],
        unique=False,
    )
    for item in QA_util_to_json_from_pandas(df_results):
        item["in_date_stamp"] = QA_util_date_stamp(item["in_date"])
        if not item["out_date"]:
            item["out_date_stamp"] = 9999999999
        else:
            item["out_date_stamp"] = QA_util_date_stamp(item["out_date_stamp"])
        coll.update_one(
            {
                "code": item["code"],
                "level": item["level"],
                "src": item["src"],
                "in_date_stamp": item["in_date_stamp"],
            },
            {"$set": item},
            upsert=True,
        )
    print('finished saving industry')

In [70]:
index_return = inv.data["index_close"].diff(1) / inv.data["index_close"].shift(1)
index_return = index_return.loc["2010-01-10":, :]
index_return.apply(lambda series: np.nansum(series))

code
000001    0.273328
000002    0.273013
000003    0.467716
000004    0.423159
000005    0.022427
            ...
880989    0.969515
880990    0.801773
880991    0.837374
880992    1.462048
880993    0.828697
Length: 2413, dtype: float64

date
2010-01-11      NaN
2010-01-12      NaN
2010-01-13      NaN
2010-01-14      NaN
2010-01-15      NaN
              ...
2022-11-25     0.00
2022-11-28    99.00
2022-11-29     0.00
2022-11-30    -0.99
2022-12-01     0.00
Name: 880046, Length: 3134, dtype: float64

In [1]:
import tushare as ts
pro = ts.pro_api()

In [2]:
pro = ts.pro_api()

df = pro.us_tbr(start_date='20210101', end_date='20230201')

In [4]:
df.head(20)

,date,w4_bd,w4_ce,w8_bd,w8_ce,w13_bd,w13_ce,w26_bd,w26_ce,w52_bd,w52_ce
0,20230113,4.38,4.46,4.46,4.55,4.51,4.62,4.64,4.81,4.48,4.69
1,20230112,4.37,4.45,4.47,4.56,4.50,4.61,4.62,4.80,4.46,4.67
2,20230111,4.20,4.27,4.48,4.57,4.57,4.69,4.70,4.88,4.53,4.75
3,20230110,4.20,4.27,4.47,4.56,4.57,4.69,4.71,4.89,4.53,4.75
4,20230109,4.17,4.24,4.44,4.53,4.55,4.67,4.69,4.87,4.48,4.70
5,20230106,4.14,4.21,4.43,4.52,4.51,4.62,4.65,4.83,4.50,4.72
6,20230105,4.12,4.19,4.44,4.53,4.51,4.62,4.68,4.86,4.56,4.79
7,20230104,4.00,4.07,4.28,4.37,4.41,4.52,4.64,4.82,4.49,4.71
8,20230103,3.96,4.03,4.29,4.38,4.40,4.51,4.63,4.81,4.50,4.72
9,20221230,3.95,4.02,4.30,4.39,4.30,4.40,4.60,4.77,4.51,4.73
10,20221229,3.88,3.95,4.28,4.37,4.34,4.45,4.57,4.74,4.48,4.70
11,20221228,3.57,3.63,4.08,4.16,4.35,4.46,4.59,4.76,4.49,4.71
12,20221227,3.62,3.68,4.09,4.17,4.35,4.46,4.60,4.77,4.52,4.75
13,20221223,3.65,3.71,4.01,4.09,4.23,4.33,4.52,4.69,4.46,4.67
14,20221222,3.65,3.71,4.02,4.10,4.24,4.34,4.51,4.68,4.45,4.66
15,20221221,3.66,3.72,4.01,4.09,4.22,4.32,4.51,4.68,4.41,4.62
16,20221220,3.69,3.75,4.02,4.10,4.25,4.36,4.55,4.72,4.44,4.65
17,20221219,3.77,3.83,4.03,4.11,4.28,4.39,4.55,4.72,4.44,4.65
18,20221216,3.78,3.84,4.03,4.11,4.20,4.30,4.52,4.69,4.41,4.62
19,20221215,3.79,3.85,4.06,4.14,4.22,4.32,4.54,4.71,4.44,4.65